if resume.publications && resume.publications.length
  .detail#publications
    .icon
      i.fa.fa-lg.fa-book
      span.mobile-title Publications

    .info
      h4.title.text-uppercase Publications

      .content
        ul.list-unstyled
          - each publication in resume.publications
            li.card.card-nested
              .content
                p.clear-margin
                  strong
                    if publication.website
                      a(href=publication.website, target="_blank")= publication.name
                      |&nbsp;,&nbsp;
                    else
                      |#{publication.name + ', '}
                  |#{publication.publisher}

                p.text-muted
                  small= 'Published on: ' + publication.releaseDate

                p.clear-margin= publication.summary
