unless _.isEmpty(resume.projects)
  .detail#projects-experience
    .icon
      i.fs-lg.icon-code
      span.mobile-title Projects Experience

    .info
      h4.title.text-uppercase Projects Experience

      ul.list-unstyled.clear-margin
        each project in resume.projects
          li.card.card-nested.clearfix
            .content
              p.clear-margin.relative
                if !project.endDate
                  i.icon-circle.current-event(
                    rel="tooltip",
                    title="Currently Working",
                    data-placement="left"
                  )
                if project.url
                  a(href=project.url, target="_blank")
                    strong=project.name
                else
                  strong=project.name
                if project.entity
                  span
                    |,&nbsp;#{project.entity}

              p.text-muted
                small
                  span.space-right
                    |#{project.startDate} - #{project.endDate || 'Present'}

                  if project.duration
                    span
                      i.icon-clock.mr-5
                      |#{project.duration}

              .mop-wrapper.space-bottom!= project.description

              unless _.isEmpty(project.highlights)
                ul
                  each highlight in project.highlights
                    li.mop-wrapper!= highlight
